

.food
{
    font-size: 120%;
    font-weight: bold;
    margin-bottom: 10px;
}

.location
{
    color: #666666;
    margin-bottom: 10px;
}

.contact
{
    margin-bottom: 10px;
}

.status {
    color: #c0c0c0;
    font-weight: bold;
}