.container
{
    margin: 0 auto;
    max-width: 1000px;
}
.container > hr
{
    margin: 60px 0;
}

/* Main marketing message and sign up button */
.jumbotron
{
    margin: 80px 0;
    text-align: center;
}
.jumbotron h1
{
    font-size: 100px;
    line-height: 1;
}
.jumbotron .lead
{
    font-size: 24px;
    line-height: 1.25;
}
.jumbotron .btn
{
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing
{
    margin: 60px 0;
}
.marketing p + h4
{
    margin-top: 28px;
}


/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner
{
    padding: 0;
}
.navbar .nav
{
    margin: 0;
    display: table;
    width: 100%;
}
.navbar .nav li
{
    display: table-cell;
    width: 1%;
    float: none;
}
.navbar .nav li a
{
    font-weight: bold;
    text-align: center;
    border-left: 1px solid rgba(255,255,255,.75);
    border-right: 1px solid rgba(0,0,0,.1);
}
.navbar .nav li:first-child a
{
    border-left: 0;
    border-radius: 3px 0 0 3px;
}
.navbar .nav li:last-child a
{
    border-right: 0;
    border-radius: 0 3px 3px 0;
}

.btn-group {
	width: 100%;
}

input[type="button"].btn-third {
	width: 33%;
}

.donationList
{
    width: 100%;
    margin-top: 10px;
    border: 1px solid #333333;
}

.donationList img
{
    border: 0;
}

.donationList tr
{
    border: 0;
    border-bottom: 1px solid #777777;
}
.donationList td
{
    border: 0;
    padding: 5px;
}

.donationList .food
{
    width: 70%;
    float: left;
    color: #777777;
    vertical-align: top;
}


.donationList .food .description
{
    font-size: 110%;
    font-weight: bold;
    color: #000000;

}
.donationList .distance
{
    vertical-align: top;
    width: 30%;
}

.donationList .closed
{
    color: #999999;
}

.donationList .closed .description
{
    color: #999999;
    font-size: 100%;
}
