

.btn-group {
	width: 100%;
}

input[type="button"].btn-third {
	width: 33%;
}

.donationList
{
    width: 100%;
    margin-top: 10px;
    border: 1px solid #333333;
}

.donationList img
{
    border: 0;
}

.donationList tr
{
    border: 0;
    border-bottom: 1px solid #777777;
}
.donationList td
{
    border: 0;
    padding: 5px;
}

.donationList .food
{
    width: 70%;
    float: left;
    color: #777777;
    vertical-align: top;
}


.donationList .food .description
{
    font-size: 110%;
    font-weight: bold;
    color: #000000;

}
.donationList .distance
{
    vertical-align: top;
    width: 30%;
}

.donationList .closed
{
    color: #999999;
}

.donationList .closed .description
{
    color: #999999;
    font-size: 100%;
}
